<!doctype html>
<html ng-app='Todo-app'>
    <head>
<link rel="stylesheet" href="https://maxcdn.boostrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//code.angularjs.org/1.6.0/angular.min.js"></script>
    </head>
<div class="container">
    <body ng-controller='Todoctrl'>
		<h4 class="list-group-item title">you have {{getTotal}} Angular Todos</h4>

		<div ng-repeat = "todo in todos" class="list-group-item">

			<input type = "checkbox" ng-model="todo.done" class="done-{{todo.done}}"/>

			<span ng-model-instant="todo.text" class="done-{{todo.done}}">{{todo.text}}</span>

			<a href="" ng-click="move($index, 'up')"><span class="glyphicon glyphicon-circle-arrow-up"></span></a>

			<a href="" ng-click="move($index, 'down')"><span class="glyphicon glyphicon-circle-arrow-down"></span></a>

			<a href="" ng-click="removeTodo($index)"><span class="glyphicon glyphicon-remove"></span></a>
		</div>

		<div class="list-group-item" ng-show = 'todoText'>
			<input type='checkbox' disabled="true">
			<input type="text" disabled="true" class="todobox" placeholder="{{todoText}}">
		</div>


		<form ng-submit="addTodo()" class="list-group-item">
			<input type="text" placeholder="Add your task here" ng-model="todoText"/>

			<input type="submit" />
		</form>
    </body>
    </div>
</html>