<!doctype html>
<html ng-app="ToDo">
	<head>
		<title>todo</title>
			<link rel="stylesheet" href="reg.css" type="text/css">	
	</head>

	</head>
	<body>
		<div id="cover">
			<div ng-controller="todoController" id="cocover">

				<h4> You have {{getTotal()}} Angular todos </h4>
				<form name="frm" ng-submit="addTodo()">
					<input type="text" name="newtodo" class=""ng-model="newTodo" required />
					<button ng-disabled="frm.$invalid" >Go</button> 
				</form>
					<button class="logbutton" ng-click="clearCompleted()">clear</button>

				<ol>
					<li ng-repeat="todo in todos">
					<input type="checkbox" ng-model="todo.done" />
						<span ng-class="{'done':todo.done}">{{todo.title}}</span>
					</li>
				</ol>
			</div>
            <div><p><a href="index.html" class="btn btn-primary">Back2main-page</a></p></div>
		</div>
		<script src="//code.angularjs.org/1.6.0/angular.min.js"></script>
		<script src="todo.js"></script>
	</body>
</html>
